body{
    background-color: #D6E4E5;
}

hr{
    border-color: grey;
    border-width: 5px;
    border-style: dotted none none;
    width: 5%;
}
h1{
    color: #497174;
}
h2{
    color:#EB6440;
}
h3{
    color:#EB6440;
}